@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


/* font-family: "Lexend", sans-serif; */
/* font-family: "Plus Jakarta Sans", sans-serif; */


:root {
    --red : #e93740;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar { 
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    position: sticky;
    top:0;
    background-color: white;
}


.logo {
    width: 150px;
}

.nav-items {
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav-item { 
    font-family: "Lexend" , sans-serif;
}

.nav-item:hover {
    color: var(--red);
    cursor: pointer;
}

.nav-buttons { 
    width: 20%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}


.nav-button{
    font-family: "Lexend" , sans-serif;
}

li.nav-button:first-child {
    color: var(--red);
    padding: 10px 25px;
}

li.nav-button:first-child:hover {
    cursor: pointer;
    background-color: rgb(159, 0, 0);
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
}

li.nav-button div {
    background-color: var(--red);
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
}

li.nav-button div:hover {
    cursor: pointer;
    background-color: rgb(159, 0, 0);
}

li.nav-button > i {
    margin-right: 5px;
}

.hero {
    background-image: url('../assets/young-family-with-kids-travelling-by-car-stopped-field.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 92vh;
}


.hero  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero div p {
    line-height: 48px;
    font-size: 1.6rem;
    margin: 10px 0;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

h1 span {
    color: var(--red);
}

.hero-buttons {
    width: 60%;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

.hero-buttons button {
    border-radius: 35px;
    border: none;
    width: 30%;
    padding: 10px;
    font-size: 1.1rem;
    background-color: white;
}

.hero-buttons button:first-child {
    background-color: var(--red);
    color: white;
}

.top-categories {
    margin: 50px 0;
}

.heading {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.heading h2 {
    font-weight: 900;
    font-size: 2rem;
}

.red-line {
    display: flex;
    width: 10%;
    margin: auto;
}

.red-line div {
    height: 5px;
    width: 40%;
    margin-left: 5px;
    border-radius: 4px;
    background-color: var(--red);
}

.red-line div:last-child {
    width: 10%;
}